body {
    background-color: rgb(242, 176, 233);
}

h1 {
    color: rgb(122, 46, 158);
    text-align: center;
    font-size: 50px;
}

h2 {
    color: rgb(122, 46, 158);
    text-align: center;
    font-size: 40px;
}

h3 {
    color: rgb(122, 46, 158); 
    font-size: 30px;
}

h4 {
    color: rgb(122, 46, 158);
    text-align: center;
    font-size: 20px;
}

h5 {
    color: rgb(122, 46, 158);
    text-align: center;
    font-size: 10px;
}

h6 {
    color: rgb(122, 46, 158);
    text-align: center;
    font-size: 5px;
}



footer {
    text-align: center;
    font-size: 20px;
    color: rgb(0, 42, 81);
}

.Nav-Bar{
    position: relative;
    padding: 15px 20px;
    background:beige;
    border-radius: 60px;
    backdrop-filter: blur(15px);
    box-shadow: 0 15px 35px blueviolet;
    border: 0.5px solid gray;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.Nav-Bar ul{
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    width: 100%;
    justify-content: space-around;
}

.Nav-Bar li a{
    text-decoration: none;
    color: black;
}